:root {
  --wine-red: #C7375F;
  --bright-red: #D42D2F;
  --dark-green: #344D2F;
  --light-green: #77A047;
  --gold: #FAC57D;
  --snow: #F0F4F7;
}

html, body {
    margin: 0;
    padding: 0;
}

body,
.container {
    display: flex;
    justify-content: center;
    align-items: center
}

body {
    background-color: #59B5B7;
    height: 100vh;
}

.container {
    background: #E8EBDE;
    color: #506560;
    flex-direction: column;
    border-radius: 10px;
    padding: 1em;
    font-size: 35px;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#greeting {
    text-align: center;
    font-family: 'Clicker Script', cursive;
    font-weight: bold;
    font-size: 35px;
}

.material-icons-outlined {
    padding-top: 5px;
    margin: 0;
    font-size: 30px;
}

button {
    padding: 0.25em 0.5em;
    border: none;
    font-size: 1.2rem;
    background-color: #506560;
    color: var(--snow);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: #59B5B7;
}

.pause-btn {
    background-color: var(--gold);
    color: var(--wine-red)
}

.stop-btn {
    background-color: var(--wine-red);
}

#volume-control {
    margin-top: 20px;
    background-color: #C7375F;
}